In [157]:
# Imports
import polars as pl 
import os


print(os.getcwd())

/mnt/c/ECON412/class_project/ECON_412_Project_alw_fork

If the current working directory is different from what you expected, you can change it using the os module

In [158]:
os.chdir("/mnt/c/ECON412/class_project/ECON_412_Project_alw_fork") # aboslute file path
print(os.getcwd())

/mnt/c/ECON412/class_project/ECON_412_Project_alw_fork

In [159]:
# Sample file to explore
filename = "Data/Ticker_Data/MMM.csv"

#skips the metadata at the top of the CSV
df_test = pl.read_csv(filename, skip_rows=2, has_header=True)

#renames the header
df_test.columns = ["Date", "Close", "High", "Low", "Open", "Volume"]

df_test.head()

shape: (5, 6)
┌────────────┬───────────┬───────────┬───────────┬───────────┬─────────┐
│ Date       ┆ Close     ┆ High      ┆ Low       ┆ Open      ┆ Volume  │
│ ---        ┆ ---       ┆ ---       ┆ ---       ┆ ---       ┆ ---     │
│ str        ┆ f64       ┆ f64       ┆ f64       ┆ f64       ┆ i64     │
╞════════════╪═══════════╪═══════════╪═══════════╪═══════════╪═════════╡
│ 2015-01-02 ┆ 96.108574 ┆ 96.706094 ┆ 95.329438 ┆ 96.489349 ┆ 2531214 │
│ 2015-01-05 ┆ 93.941017 ┆ 95.862487 ┆ 93.776999 ┆ 95.487571 ┆ 4416708 │
│ 2015-01-06 ┆ 92.939262 ┆ 94.532673 ┆ 92.406176 ┆ 94.210485 ┆ 4224272 │
│ 2015-01-07 ┆ 93.612999 ┆ 93.894189 ┆ 93.109195 ┆ 93.671574 ┆ 3685235 │
│ 2015-01-08 ┆ 95.856674 ┆ 95.891826 ┆ 94.034799 ┆ 94.11095  ┆ 3758908 │
└────────────┴───────────┴───────────┴───────────┴───────────┴─────────┘

In [160]:
# Number of rows and columns
df_test.shape

(2516, 6)

In [161]:
# Observes schema
df_test.schema

Schema([('Date', String),
        ('Close', Float64),
        ('High', Float64),
        ('Low', Float64),
        ('Open', Float64),
        ('Volume', Int64)])

In [162]:
# Number of nul values per column
df_test.null_count()

shape: (1, 6)
┌──────┬───────┬──────┬─────┬──────┬────────┐
│ Date ┆ Close ┆ High ┆ Low ┆ Open ┆ Volume │
│ ---  ┆ ---   ┆ ---  ┆ --- ┆ ---  ┆ ---    │
│ u32  ┆ u32   ┆ u32  ┆ u32 ┆ u32  ┆ u32    │
╞══════╪═══════╪══════╪═════╪══════╪════════╡
│ 0    ┆ 0     ┆ 0    ┆ 0   ┆ 0    ┆ 0      │
└──────┴───────┴──────┴─────┴──────┴────────┘

TODO: change 'Date' from 'String' to 'DateTime'

In [163]:
df_test = df_test.with_columns(pl.col("Date").str.strptime(pl.Date, "%Y-%m-%d"))
df_test.schema

Schema([('Date', Date),
        ('Close', Float64),
        ('High', Float64),
        ('Low', Float64),
        ('Open', Float64),
        ('Volume', Int64)])

In [164]:
df_test.head()

shape: (5, 6)
┌────────────┬───────────┬───────────┬───────────┬───────────┬─────────┐
│ Date       ┆ Close     ┆ High      ┆ Low       ┆ Open      ┆ Volume  │
│ ---        ┆ ---       ┆ ---       ┆ ---       ┆ ---       ┆ ---     │
│ date       ┆ f64       ┆ f64       ┆ f64       ┆ f64       ┆ i64     │
╞════════════╪═══════════╪═══════════╪═══════════╪═══════════╪═════════╡
│ 2015-01-02 ┆ 96.108574 ┆ 96.706094 ┆ 95.329438 ┆ 96.489349 ┆ 2531214 │
│ 2015-01-05 ┆ 93.941017 ┆ 95.862487 ┆ 93.776999 ┆ 95.487571 ┆ 4416708 │
│ 2015-01-06 ┆ 92.939262 ┆ 94.532673 ┆ 92.406176 ┆ 94.210485 ┆ 4224272 │
│ 2015-01-07 ┆ 93.612999 ┆ 93.894189 ┆ 93.109195 ┆ 93.671574 ┆ 3685235 │
│ 2015-01-08 ┆ 95.856674 ┆ 95.891826 ┆ 94.034799 ┆ 94.11095  ┆ 3758908 │
└────────────┴───────────┴───────────┴───────────┴───────────┴─────────┘

TODO: add 'Ticker' column to df_test

In [165]:
df_test = df_test.with_columns(pl.lit("MMM").alias("Ticker"))
df_test.head()

shape: (5, 7)
┌────────────┬───────────┬───────────┬───────────┬───────────┬─────────┬────────┐
│ Date       ┆ Close     ┆ High      ┆ Low       ┆ Open      ┆ Volume  ┆ Ticker │
│ ---        ┆ ---       ┆ ---       ┆ ---       ┆ ---       ┆ ---     ┆ ---    │
│ date       ┆ f64       ┆ f64       ┆ f64       ┆ f64       ┆ i64     ┆ str    │
╞════════════╪═══════════╪═══════════╪═══════════╪═══════════╪═════════╪════════╡
│ 2015-01-02 ┆ 96.108574 ┆ 96.706094 ┆ 95.329438 ┆ 96.489349 ┆ 2531214 ┆ MMM    │
│ 2015-01-05 ┆ 93.941017 ┆ 95.862487 ┆ 93.776999 ┆ 95.487571 ┆ 4416708 ┆ MMM    │
│ 2015-01-06 ┆ 92.939262 ┆ 94.532673 ┆ 92.406176 ┆ 94.210485 ┆ 4224272 ┆ MMM    │
│ 2015-01-07 ┆ 93.612999 ┆ 93.894189 ┆ 93.109195 ┆ 93.671574 ┆ 3685235 ┆ MMM    │
│ 2015-01-08 ┆ 95.856674 ┆ 95.891826 ┆ 94.034799 ┆ 94.11095  ┆ 3758908 ┆ MMM    │
└────────────┴───────────┴───────────┴───────────┴───────────┴─────────┴────────┘

TODO: load in company info

In [166]:
info = pl.read_csv("Data/company_list.csv")
info.head()

shape: (5, 8)
┌────────┬──────────────┬─────────────┬─────────────┬─────────────┬────────────┬─────────┬─────────┐
│ Symbol ┆ Security     ┆ GICS Sector ┆ GICS Sub-In ┆ Headquarter ┆ Date added ┆ CIK     ┆ Founded │
│ ---    ┆ ---          ┆ ---         ┆ dustry      ┆ s Location  ┆ ---        ┆ ---     ┆ ---     │
│ str    ┆ str          ┆ str         ┆ ---         ┆ ---         ┆ str        ┆ i64     ┆ str     │
│        ┆              ┆             ┆ str         ┆ str         ┆            ┆         ┆         │
╞════════╪══════════════╪═════════════╪═════════════╪═════════════╪════════════╪═════════╪═════════╡
│ MMM    ┆ 3M           ┆ Industrials ┆ Industrial  ┆ Saint Paul, ┆ 1957-03-04 ┆ 66740   ┆ 1902    │
│        ┆              ┆             ┆ Conglomerat ┆ Minnesota   ┆            ┆         ┆         │
│        ┆              ┆             ┆ es          ┆             ┆            ┆         ┆         │
│ AOS    ┆ A. O. Smith  ┆ Industrials ┆ Building    ┆ Milwaukee,  ┆ 2017-07-26 ┆ 91142   ┆ 1916    │
│        ┆              ┆             ┆ Products    ┆ Wisconsin   ┆            ┆         ┆         │
│ ABT    ┆ Abbott       ┆ Health Care ┆ Health Care ┆ North       ┆ 1957-03-04 ┆ 1800    ┆ 1888    │
│        ┆ Laboratories ┆             ┆ Equipment   ┆ Chicago,    ┆            ┆         ┆         │
│        ┆              ┆             ┆             ┆ Illinois    ┆            ┆         ┆         │
│ ABBV   ┆ AbbVie       ┆ Health Care ┆ Biotechnolo ┆ North       ┆ 2012-12-31 ┆ 1551152 ┆ 2013    │
│        ┆              ┆             ┆ gy          ┆ Chicago,    ┆            ┆         ┆ (1888)  │
│        ┆              ┆             ┆             ┆ Illinois    ┆            ┆         ┆         │
│ ACN    ┆ Accenture    ┆ Information ┆ IT          ┆ Dublin,     ┆ 2011-07-06 ┆ 1467373 ┆ 1989    │
│        ┆              ┆ Technology  ┆ Consulting  ┆ Ireland     ┆            ┆         ┆         │
│        ┆              ┆             ┆ & Other     ┆             ┆            ┆         ┆         │
│        ┆              ┆             ┆ Services    ┆             ┆            ┆         ┆         │
└────────┴──────────────┴─────────────┴─────────────┴─────────────┴────────────┴─────────┴─────────┘

TODO: select ticker, sector, and sub columns and rename

In [ ]:
info = info.select(pl.col("Symbol").alias("Ticker"), pl.col("GICS Sector").alias("Sector"), pl.col("GICS Sub-Industry").alias("Sub-Industry"))
info.head()

shape: (5, 3)
┌────────┬────────────────────────┬────────────────────────────────┐
│ Ticker ┆ Sector                 ┆ Sub-industry                   │
│ ---    ┆ ---                    ┆ ---                            │
│ str    ┆ str                    ┆ str                            │
╞════════╪════════════════════════╪════════════════════════════════╡
│ MMM    ┆ Industrials            ┆ Industrial Conglomerates       │
│ AOS    ┆ Industrials            ┆ Building Products              │
│ ABT    ┆ Health Care            ┆ Health Care Equipment          │
│ ABBV   ┆ Health Care            ┆ Biotechnology                  │
│ ACN    ┆ Information Technology ┆ IT Consulting & Other Services │
└────────┴────────────────────────┴────────────────────────────────┘

TODO: combine company info and ticker df

In [168]:
big_df = df_test.join(info, on="Ticker", how="right")
big_df.head()

shape: (5, 9)
┌────────────┬───────────┬───────────┬───────────┬───┬─────────┬────────┬─────────────┬────────────┐
│ Date       ┆ Close     ┆ High      ┆ Low       ┆ … ┆ Volume  ┆ Ticker ┆ Sector      ┆ Sub-indust │
│ ---        ┆ ---       ┆ ---       ┆ ---       ┆   ┆ ---     ┆ ---    ┆ ---         ┆ ry         │
│ date       ┆ f64       ┆ f64       ┆ f64       ┆   ┆ i64     ┆ str    ┆ str         ┆ ---        │
│            ┆           ┆           ┆           ┆   ┆         ┆        ┆             ┆ str        │
╞════════════╪═══════════╪═══════════╪═══════════╪═══╪═════════╪════════╪═════════════╪════════════╡
│ 2015-01-02 ┆ 96.108574 ┆ 96.706094 ┆ 95.329438 ┆ … ┆ 2531214 ┆ MMM    ┆ Industrials ┆ Industrial │
│            ┆           ┆           ┆           ┆   ┆         ┆        ┆             ┆ Conglomera │
│            ┆           ┆           ┆           ┆   ┆         ┆        ┆             ┆ tes        │
│ 2015-01-05 ┆ 93.941017 ┆ 95.862487 ┆ 93.776999 ┆ … ┆ 4416708 ┆ MMM    ┆ Industrials ┆ Industrial │
│            ┆           ┆           ┆           ┆   ┆         ┆        ┆             ┆ Conglomera │
│            ┆           ┆           ┆           ┆   ┆         ┆        ┆             ┆ tes        │
│ 2015-01-06 ┆ 92.939262 ┆ 94.532673 ┆ 92.406176 ┆ … ┆ 4224272 ┆ MMM    ┆ Industrials ┆ Industrial │
│            ┆           ┆           ┆           ┆   ┆         ┆        ┆             ┆ Conglomera │
│            ┆           ┆           ┆           ┆   ┆         ┆        ┆             ┆ tes        │
│ 2015-01-07 ┆ 93.612999 ┆ 93.894189 ┆ 93.109195 ┆ … ┆ 3685235 ┆ MMM    ┆ Industrials ┆ Industrial │
│            ┆           ┆           ┆           ┆   ┆         ┆        ┆             ┆ Conglomera │
│            ┆           ┆           ┆           ┆   ┆         ┆        ┆             ┆ tes        │
│ 2015-01-08 ┆ 95.856674 ┆ 95.891826 ┆ 94.034799 ┆ … ┆ 3758908 ┆ MMM    ┆ Industrials ┆ Industrial │
│            ┆           ┆           ┆           ┆   ┆         ┆        ┆             ┆ Conglomera │
│            ┆           ┆           ┆           ┆   ┆         ┆        ┆             ┆ tes        │
└────────────┴───────────┴───────────┴───────────┴───┴─────────┴────────┴─────────────┴────────────┘

TODO: create characteristics(df) with 'assert'

In [169]:
def validate_df(df):
    assert set(["Date", "Open", "High", "Low", "Close", "Volume", "Ticker"]).issubset(df.columns), "Missing required columns"

    assert df["Ticker"].n_unique() >= 1, "Ticker column has no values"
    assert df["Date"].is_sorted(), "Date column is not sorted"

    total_nulls = df.null_count().to_numpy().sum()
    assert total_nulls == 0, f"Found {total_nulls} null values"

TODO: load in and validate all ticker CSVs

In [ ]:
import glob

paths = glob.glob("Data/Ticker_Data/*.csv")
dfs = []

for path in paths:
    ticker = os.path.basename(path).removesuffix(".csv")

    df = pl.read_csv(path, skip_rows=2, has_header=True, new_columns=["Date", "Close", "High", "Low", "Open", "Volume"])
    df = df.with_columns(pl.col("Date").str.strptime(pl.Date, "%Y-%m-%d"))
    df = df.with_columns(pl.lit(ticker).alias("Ticker"))
    
    try:
        validate_df(df)
    except Exception as e:
        print(f"{ticker} is not valid, skipping: {e}")
        continue
    
    df = df.join(info, on="Ticker", how="left")

    dfs.append(df)

NTAP df is not valid, skipping: Ticker column has no values